body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

h1 {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 300px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td , tr{
  border: 1px solid #ccc;
  padding: 8px;
  align-content: space-between;
}

th {
  background-color: #f4f4f4;
}

.pagination {
  margin-top: 15px;
}

button {
  padding: 6px 12px;
  margin-right: 10px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error {
  color: red;
}

p{
  font-weight: bold;
}